<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>29447861799-knj1mrlgckt6eo9jt281ts58rep9g5ji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29447861799-knj1mrlgckt6eo9jt281ts58rep9g5ji</string>
	<key>API_KEY</key>
	<string>AIzaSyCJho0hY9j2fxE0OadNHOOcY-ygn3c0vMM</string>
	<key>GCM_SENDER_ID</key>
	<string>29447861799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mlm.voidscribemlm</string>
	<key>PROJECT_ID</key>
	<string>void-scribe</string>
	<key>STORAGE_BUCKET</key>
	<string>void-scribe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29447861799:ios:98964d1e37596209</string>
	<key>DATABASE_URL</key>
	<string>https://void-scribe.firebaseio.com</string>
</dict>
</plist>